*{
    padding: 0px;
    margin: 0px;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20vh auto;
    padding: 5px;
    width: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}
.container .image{
    padding: 15px;
    
}
.container .image img{
    border-radius: 20px;
    width: 300px;
}
.text1{
    font-weight: 700;
    width: 300px;
    margin-top: 5px;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}
.text2{
    margin: 20px;
    width: 300px;
    font-weight: 400;
    font-size: 1.1em;
    overflow-wrap:normal;
    color: hsl(220, 15%, 55%);
}